@import '../../variables';
.itemContainer{
    box-sizing: border-box;
    margin-top: min(15px, 6vh);
    width:80vw;
    height:80vh;
    display: flex;
    flex-direction: row;
    @media(max-width:750px) {
        flex-direction: column;
        align-items: center;
        width:110%;
    }
    @media(max-width: 550px){
        width:100%;
    }
}
.itemPictures{
    width:45%;
    height: 90%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 3fr 1fr;
    @media(max-width:750px) {
        padding-top: 2vh;
        width: 80% ;
        align-self: center;
        margin-top: 2vh;
        display: block;
    }
    @media(max-width: 550px){
        padding-top: 0;
        width:100%;
    }
}
.thumbnailsContainer{
    justify-self:center;
    align-self:flex-start;
    width: 85%;
    display:flex;
    justify-content: space-between;
    align-items:center ;
    @media(max-width: 950px) {
        height: 0%;
    }
    @media(max-width:750px) {
        display: none;
    }
}
.itemContent{
    margin-top: 50px;
    width:50%;
    height: 90%;
    padding-left: min(3vw, 40px);
    display:grid;
    grid-auto-rows: minmax(min-content, max-content);
    align-items:baseline;
    @media(max-width:750px){
        margin-top: -90px;
        width: 90%;
    }
    @media(max-width:550px){
        
    }
}
.smallHeader {
    font-size: 0.75rem;
    font-weight: 700;
    color: $orange;
    @media(max-width: 350px){
       display: none;
    }  
}
.largeHeader {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    @media(max-width:750px){
        padding-bottom: 0;
        width: 90%;
        font-size: 2rem;
    }
    @media(max-width:600px){
        padding-bottom: 0;
    }
    @media(max-width: 350px){
        padding-top: 15px;
     }
}
.text{
    font-size: 0.8rem;
    color: $darkGrayishBlue;
    @media(max-width: 750px){
        width: 90%
    }
}
.prices{
    padding: 2vh 0;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    @media(max-width:550px) {
        grid-template-columns: 100% 100% 100%;
        padding: 0;
    }
    @media(max-width:300px) {
        grid-template-columns: 135% 100% 100%;
    }
    .currentPrice {
        font-size: 1.75rem;
        font-weight: 700;

    }
    .discount{
        margin-left: 5px;
        font-size: 1rem;
        font-weight: 700;
        justify-self: start;
        padding: 3px 4px;
        border-radius: 5px;
        color: $orange;
        background-color: $paleOrange;
        @media(max-width:300px) {
            margin-left: 15px;
        }
    }
    .oldPrice{
        font-size: 1rem;
        text-decoration: line-through;
        color: $darkGrayishBlue;
        font-weight: 700; 
    }
}
.buttons{
    height: min(5vh, 40px);
    width:70%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 3vh;
    @media(max-width:750px) {
        margin: 0 auto;
    }
    @media(max-width:550px) {
        margin-top: 3vh;
        height: 150%;
        width: 100%;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    @media(max-height: 700px) {
        margin-top: 5px;
    }
    
}
.counter{
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: $lightGrayishBlue;
    &:hover{
        box-shadow: 0 0 2px $orange;
    }
    :nth-child(1){
        padding-bottom: 3px;
    }
    div{
        margin:auto;
        &.sign{
            color: $orange;
        font-size: 1.3rem;
        cursor:pointer;
        &:hover {
            opacity: 0.6;
        }
        }
    }
}
.addToCart{
    font-size: 0.7rem;
    color:white;
    font-weight: 700;
    background-color: $orange;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        opacity:0.6;
    }
    svg{
        padding-right: 2vh;
        color:white;
        height: 60%;
    }
}
