.itemPictures{
    img{
        border-radius: 10px;
    }
}
.largePicContainer{
    justify-self: center;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 85%;
    .largePic {
        cursor: pointer;
        width: 100%;
        @media(max-width: 950px){
            height:90%
        }
        @media(max-width: 750px){
            height:100%
        }
        @media(max-width: 550px){
            margin-top: 5px;
            border-radius: 0;
            height:95%
         }
    }
}

